/* ANCHOR default style  */
body {
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.btn {
    font-size: 14px;
}
.accordion-button {
    font-family: "Inter", sans-serif;
}
/* ANCHOR button style  */
.btn-primary {
    color: var(--figma-color-text-normal) !important;
    font-size: 14px;
}
.btn-secondary-danger {
    color: var(--figma-color-text-error) !important;
    border: 1px solid var(--figma-color-border-error);
    font-size: 14px;
}
.btn-secondary {
    color: var(--figma-color-text-button-secondary) !important;
    font-size: 14px;
}

/* ANCHOR text style  */
.txt-left {
    text-align: left;
}
.txt-center {
    text-align: center;
}
.txt-end {
    text-align: end;
}
.txt-just {
    text-align: justify;
}
.txt-bold {
    font-weight: bold;
}
.txt-upper {
    text-transform: uppercase;
}

/* ANCHOR  text color style */
.txt-warning {
    color: var(--figma-color-text-warning) !important;
}
.txt-normal {
    color: var(--figma-color-text-normal) !important;
}
.txt-blue {
    color: #1ba0e1 !important;
}
.txt-sidebar {
    color: var(--figma-color-text-sidebar) !important;
}
.txt-gray {
    color: var(--figma-color-text-gray) !important;
}
.txt-disable {
    color: var(--figma-color-text-disable) !important;
}
.txt-white {
    color: white !important;
}
.txt-gray {
    color: #c0c0c0 !important;
}
.txt-success {
    color: var(--figma-color-text-success);
}
.txt-error {
    color: var(--figma-color-text-error) !important;
}
.txt-link {
    color: var(--figma-color-text-link) !important;
}
.txt-btn-primary {
    color: var(--figma-color-text-button-primary) !important;
}
.txt-btn-secondary {
    color: var(--figma-color-text-button-secondary) !important;
}

/* ANCHOR  background style  */
.bg-transparent {
    background-color: transparent;
}
.bg-black {
    background-color: #252525;
}
.bg-white {
    background-color: white;
}
.bg-gray {
    background-color: #f8f8f8;
}
.bg-blue {
    background-color: #1ba0e1;
}

/* ANCHOR img style  */
.icon-img-sm {
    width: 16px;
    height: 16px;
}
.icon-img-sm {
    width: 20px;
    height: 20px;
}
.icon-img-sm {
    width: 24px;
    height: 24px;
}

/* ANCHOR width style  */
.w-fit {
    width: fit-content !important;
}
.w-max {
    width: max-content !important;
}
.w-100 {
    width: 100%;
}
.w-95 {
    width: 95%;
}
.w-90 {
    width: 90%;
}
.w-85 {
    width: 85%;
}
.w-80 {
    width: 80%;
}
.w-75 {
    width: 75%;
}
.w-70 {
    width: 70%;
}
.w-65 {
    width: 65%;
}
.w-60 {
    width: 60%;
}
.w-55 {
    width: 55%;
}
.w-50 {
    width: 50%;
}
.w-45 {
    width: 45%;
}
.w-40 {
    width: 40%;
}
.w-35 {
    width: 35%;
}
.w-30 {
    width: 30%;
}
.w-25 {
    width: 25%;
}
.w-20 {
    width: 20%;
}

/* ANCHOR height style  */
.h-full {
    height: 100vh;
}
.h-fit {
    height: fit-content;
}
.h-add {
    max-height: 0vh;
}
.h-100 {
    height: 100%;
}
.h-95 {
    height: 95%;
}
.h-90 {
    height: 90%;
}
.h-85 {
    height: 85%;
}
.h-80 {
    height: 80%;
}
.h-75 {
    height: 75%;
}
.h-70 {
    height: 70%;
}
.h-65 {
    height: 65%;
}
.h-60 {
    height: 60%;
}
.h-55 {
    height: 55%;
}
.h-50 {
    height: 50%;
}
.h-45 {
    height: 45%;
}
.h-40 {
    height: 40%;
}
.h-35 {
    height: 35%;
}
.h-30 {
    height: 30%;
}
.h-25 {
    height: 25%;
}
.h-20 {
    height: 20%;
}

/*ANCHOR  margin style  */
.m-0 {
    margin: 0;
}
.mt-0p5 {
    margin-top: 0.5em;
}
.mt-1 {
    margin-top: 1em;
}
.mt-2 {
    margin-top: 2em;
}
.mt-3 {
    margin-top: 3em;
}
.mt-4 {
    margin-top: 4em;
}
.mt-5 {
    margin-top: 5em;
}
.mt-6 {
    margin-top: 6em;
}
.mt-7 {
    margin-top: 7em;
}
.mt-8 {
    margin-top: 8em;
}
.mt-9 {
    margin-top: 9em;
}
.mt-10 {
    margin-top: 10em;
}
.mt-15 {
    margin-top: 15em;
}
.mt-17 {
    margin-top: 17em;
}
.mt-20 {
    margin-top: 20em;
}
.mt-0p5 {
    margin-top: 0.5em;
}
.mb-1 {
    margin-bottom: 1em;
}
.mb-2 {
    margin-bottom: 2em;
}
.mb-3 {
    margin-bottom: 3em;
}
.mb-4 {
    margin-bottom: 4em;
}
.mb-5 {
    margin-bottom: 5em;
}
.mb-6 {
    margin-bottom: 6em;
}
.mb-7 {
    margin-bottom: 7em;
}
.mb-8 {
    margin-bottom: 8em;
}
.mb-9 {
    margin-bottom: 9em;
}
.mb-10 {
    margin-bottom: 10em;
}
.mb-15 {
    margin-bottom: 15em;
}
.mb-17 {
    margin-bottom: 17em;
}
.mb-20 {
    margin-bottom: 20em;
}
.ms-0p5 {
    margin-left: 0.5em;
}
.ms-1 {
    margin-left: 1em;
}
.ms-2 {
    margin-left: 2em;
}
.ms-3 {
    margin-left: 3em;
}
.ms-4 {
    margin-left: 4em;
}
.ms-5 {
    margin-left: 5em;
}
.ms-6 {
    margin-left: 6em;
}
.ms-7 {
    margin-left: 7em;
}
.ms-8 {
    margin-left: 8em;
}
.ms-9 {
    margin-left: 9em;
}
.ms-10 {
    margin-left: 10em;
}
.me-0p5 {
    margin-right: 0.5em;
}
.me-1 {
    margin-right: 1em;
}
.me-2 {
    margin-right: 2em;
}
.me-3 {
    margin-right: 3em;
}
.me-4 {
    margin-right: 4em;
}
.me-5 {
    margin-right: 5em;
}
.me-6 {
    margin-right: 6em;
}
.me-7 {
    margin-right: 7em;
}
.me-8 {
    margin-right: 8em;
}
.me-9 {
    margin-right: 9em;
}
.me-10 {
    margin-right: 10em;
}
.mr-auto {
    margin: 0 auto;
}

/*ANCHOR  paddding style */
.p-0 {
    padding: 0;
}
.pt-0p5 {
    padding-top: 0.5em;
}
.pt-1 {
    padding-top: 1em;
}
.pt-2 {
    padding-top: 2em;
}
.pt-3 {
    padding-top: 3em;
}
.pt-4 {
    padding-top: 4em;
}
.pt-5 {
    padding-top: 5em;
}
.pt-6 {
    padding-top: 6em;
}
.pt-7 {
    padding-top: 7em;
}
.pt-8 {
    padding-top: 8em;
}
.pt-9 {
    padding-top: 9em;
}
.pt-10 {
    padding-top: 10em;
}
.pt-16 {
    padding-top: 16em;
}
.pb-0p5 {
    padding-bottom: 0.5em;
}
.pb-1 {
    padding-bottom: 1em;
}
.pb-2 {
    padding-bottom: 2em;
}
.pb-3 {
    padding-bottom: 3em;
}
.pb-4 {
    padding-bottom: 4em;
}
.pb-5 {
    padding-bottom: 5em;
}
.pb-6 {
    padding-bottom: 6em;
}
.pb-7 {
    padding-bottom: 7em;
}
.pb-8 {
    padding-bottom: 8em;
}
.pb-9 {
    padding-bottom: 9em;
}
.pb-10 {
    padding-bottom: 10em;
}
.pb-16 {
    padding-bottom: 16em;
}
.ps-1 {
    padding-left: 1em;
}
.ps-0p5 {
    padding-left: 0.5em;
}
.ps-2 {
    padding-left: 2em;
}
.ps-3 {
    padding-left: 3em;
}
.ps-4 {
    padding-left: 4em;
}
.ps-5 {
    padding-left: 5em;
}
.ps-6 {
    padding-left: 6em;
}
.ps-7 {
    padding-left: 7em;
}
.ps-8 {
    padding-left: 8em;
}
.ps-9 {
    padding-left: 9em;
}
.ps-10 {
    padding-left: 10em;
}
.pe-1 {
    padding-right: 1em;
}
.pe-0p5 {
    padding-right: 0.5em;
}
.pe-2 {
    padding-right: 2em;
}
.pe-3 {
    padding-right: 3em;
}
.pe-4 {
    padding-right: 4em;
}
.pe-5 {
    padding-right: 5em;
}
.pe-6 {
    padding-right: 6em;
}
.pe-7 {
    padding-right: 7em;
}
.pe-8 {
    padding-right: 8em;
}
.pe-9 {
    padding-right: 9em;
}
.pe-10 {
    padding-right: 10em;
}

/*ANCHOR  border style  */
.br-0 {
    border: 0;
}
.br-white {
    border: 1px solid white;
}
.br-black {
    border: 1px solid black;
}
.br-btm-gray {
    border-bottom: 1px solid #d8d8d8;
}
.br-input {
    border: 1px solid var(--figma-color-border-base);
    border-radius: 8px;
}
.disabled {
    border: 1px solid var(--figma-color-border-disable);
    border-radius: 8px;
    background-color: var(--figma-color-background-disable);
}
.input-select {
    font-size: 14px !important;
    color: var(--figma-color-text-normal);
}

/*ANCHOR  border radius style  */
.br-radius-0p5 {
    border-radius: 0.5em;
}
.br-radius-1 {
    border-radius: 1em;
}
.br-radius-2 {
    border-radius: 2em;
}
.br-radius-3 {
    border-radius: 3em;
}
.br-radius-5 {
    border-radius: 5em;
}

/*ANCHOR  invert image  */
.invert {
    filter: invert(1);
}

/*ANCHOR  opacity style  */
.opacity-1 {
    opacity: 0.1;
}
.opacity-2 {
    opacity: 0.2;
}
.opacity-3 {
    opacity: 0.3;
}
.opacity-4 {
    opacity: 0.4;
}
.opacity-5 {
    opacity: 0.5;
}
.opacity-6 {
    opacity: 0.6;
}
.opacity-7 {
    opacity: 0.7;
}
.opacity-8 {
    opacity: 0.8;
}
.opacity-9 {
    opacity: 0.9;
}

/*ANCHOR  cursor style */
.cursor-default {
    cursor: default;
}
.pointer {
    cursor: pointer;
}

/*ANCHOR  overflow style */
.overflow-hide {
    overflow: hidden;
}
.overflow-x-scroll {
    overflow-x: scroll !important;
}
.overflow-x-auto {
    overflow-x: auto !important;
}
.overflow-y-scroll {
    overflow-y: scroll !important;
}
.overflow-y-auto {
    overflow-y: auto !important;
}

/*ANCHOR  line style */
.divide-line {
    width: 100%;
    height: 1px;
}

/* ANCHOR shadow style */
.bx-shadow-sm {
    box-shadow: 0 46px 130px rgba(37, 37, 37, 0.15);
}
.bx-shadow-md {
    box-shadow: 0 16px 40px rgba(37, 37, 37, 0.2);
}
.bx-shadow-lg {
    box-shadow: 0 8px 24px rgba(37, 37, 37, 0.25);
}

/* ANCHOR  display style  */
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-no-wrap {
    flex-wrap: nowrap !important;
}
.d-grid {
    display: grid;
}
.grid-1-1 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-1-2 {
    grid-template-columns: 1fr 2fr;
}
.grid-1-3 {
    grid-template-columns: 1fr 3fr;
}
.grid-1-4 {
    grid-template-columns: 1fr 4fr;
}
.grid-1p5-1 {
    grid-template-columns: 1.5fr 1fr;
}
.grid-2-1 {
    grid-template-columns: 2fr 1fr;
}
.grid-1-1-static {
    grid-template-columns: repeat(2, 1fr);
}
.grid-1-2-static {
    grid-template-columns: 1fr 2fr;
}
.grid-1-3-static {
    grid-template-columns: 1fr 3fr;
}
.grid-1-4-static {
    grid-template-columns: 1fr 4fr;
}
.grid-1p5-1-static {
    grid-template-columns: 1.5fr 1fr;
}
.grid-2-1-static {
    grid-template-columns: 2fr 1fr;
}
.grid-1-1-1 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-1-1-1-1 {
    grid-template-columns: repeat(4, 1fr);
}
.hide {
    display: none;
}
.d-hide {
    display: none;
}
.d-hide-flex {
    display: none;
}
.d-hide-grid {
    display: none;
}
.m-hide {
    display: block;
}
.m-hide-flex {
    display: flex;
}
.m-hide-grid {
    display: grid;
}
.grid-title-img-txt {
    grid-template-areas:
        "grid-img grid-title"
        "grid-img grid-txt"
        "grid-img grid-other";
}
.grid-title-txt-img {
    grid-template-areas:
        "grid-title grid-img"
        "grid-txt grid-img"
        "grid-other grid-img";
}
.grid-img-txt {
    grid-template-areas: "grid-img grid-txt";
}
.grid-txt-img {
    grid-template-areas: "grid-txt grid-img";
}
.grid-img {
    grid-area: grid-img;
}
.grid-title {
    grid-area: grid-title;
}
.grid-txt {
    grid-area: grid-txt;
}
.grid-other {
    grid-area: grid-other;
}

/* ANCHOR  dislay positioning  */
.just-start {
    justify-content: start;
}
.just-center {
    justify-content: center;
}
.just-end {
    justify-content: end;
}
.just-s-evenly {
    justify-content: space-evenly;
}
.just-s-between {
    justify-content: space-between;
}
.just-self-start {
    justify-self: start;
}
.just-self-center {
    justify-self: center;
}
.just-self-end {
    justify-self: end;
}
.align-top {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.align-self-top {
    align-self: flex-start;
}
.align-self-center {
    align-self: center;
}
.align-self-end {
    align-self: flex-end;
}

/* ANCHOR  gap flex and grid style  */
.gap-0p5 {
    gap: 0.5em;
}
.gap-1 {
    gap: 1em;
}
.gap-1p5 {
    gap: 1.5em;
}
.gap-2 {
    gap: 2em;
}
.gap-3 {
    gap: 3em;
}
.gap-4 {
    gap: 4em;
}
.gap-5 {
    gap: 5em;
}
.gap-6 {
    gap: 6em;
}
.gap-7 {
    gap: 7em;
}
.gap-8 {
    gap: 8em;
}
.gap-9 {
    gap: 9em;
}
.gap-10 {
    gap: 10em;
}
.gapv-0p5 {
    row-gap: 0.5em;
}
.gapv-1 {
    row-gap: 1em;
}
.gapv-1p5 {
    row-gap: 1.5em;
}
.gapv-2 {
    row-gap: 2em;
}
.gapv-3 {
    row-gap: 3em;
}
.gapv-4 {
    row-gap: 4em;
}
.gapv-5 {
    row-gap: 5em;
}
.gapv-6 {
    row-gap: 6em;
}
.gapv-7 {
    row-gap: 7em;
}
.gapv-8 {
    row-gap: 8em;
}
.gapv-9 {
    row-gap: 9em;
}
.gapv-10 {
    row-gap: 10em;
}
.gaph-0p5 {
    column-gap: 0.5em;
}
.gaph-1 {
    column-gap: 1em;
}
.gaph-1p5 {
    column-gap: 1.5em;
}
.gaph-2 {
    column-gap: 2em;
}
.gaph-3 {
    column-gap: 3em;
}
.gaph-4 {
    column-gap: 4em;
}
.gaph-5 {
    column-gap: 5em;
}
.gaph-6 {
    column-gap: 6em;
}
.gaph-7 {
    column-gap: 7em;
}
.gaph-8 {
    column-gap: 8em;
}
.gaph-9 {
    column-gap: 9em;
}
.gaph-10 {
    column-gap: 10em;
}

/* position style  */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.top-0 {
    top: 0;
}
.btm-0 {
    bottom: 0;
}
.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}
.z-999 {
    z-index: -999;
}
.z-99 {
    z-index: -99;
}
.z-9 {
    z-index: -9;
}
.z9 {
    z-index: 9;
}
.z99 {
    z-index: 99;
}
.z999 {
    z-index: 999;
}

/* ANCHOR screen 1023 style  */
@media screen and (max-width: 1023px) {
    /* ANCHOR default style  */
    body {
        font-size: 14px;
    }

    /* ANCHOR  display style  */
    .grid-1-1,
    .grid-1-2,
    .grid-1-3,
    .grid-1-4,
    .grid-1p5-1,
    .grid-2-1 {
        grid-template-columns: 1fr;
    }
    .d-hide {
        display: block;
    }
    .d-hide-flex {
        display: flex;
    }
    .d-hide-grid {
        display: grid;
    }
    .m-hide {
        display: none;
    }
    .m-hide-flex {
        display: none;
    }
    .m-hide-grid {
        display: none;
    }
    .grid-title-img-txt {
        grid-template-areas:
            "grid-title"
            "grid-img"
            "grid-txt"
            "grid-other";
    }
    .grid-title-txt-img {
        grid-template-areas:
            "grid-title"
            "grid-img"
            "grid-txt"
            "grid-other";
    }
    .grid-img-txt {
        grid-template-areas:
            "grid-img"
            "grid-txt";
    }
    .grid-txt-img {
        grid-template-areas:
            "grid-img"
            "grid-txt";
    }
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-arrow {
    -moz-appearance: textfield;
}

.content-main {
    padding: 32px 32px 32px 32px;
    max-height: 94vh;
    overflow: auto;
}

.blue-icon {
    color: #175cd3;
}

.btn-download {
    border: solid #175cd3;
    width: 55px;
    color: #175cd3;
    cursor: pointer;
}

.btn-download:hover {
    background-color: #ebf2ff;
    cursor: pointer;
}

.btn-download:active {
    background-color: #cee0ff;
    cursor: pointer;
}

.btn-upload {
    color: #f79009;
    border: solid #f79009;
    width: 55px;
    cursor: pointer;
}

.btn-upload:hover {
    background-color: #fff7ec;
    cursor: pointer;
}
.btn-upload:active {
    background-color: #ffeed8;
    cursor: pointer;
}

.btn-download[disabled] {
    background-color: #f2f4f7;
    color: #98a2b3;
    border: solid #98a2b3;
}
.btn-upload[disabled] {
    background-color: #f2f4f7;
    color: #98a2b3;
    border: solid #98a2b3;
}
button.btn-upload:disabled v-icon {
    color: #98a2b3 !important;
}

.up-doc {
    margin-right: 4.3rem;
}

.btn-fit {
    width: fit-content;
}
